<footer  class="section-p1">
    <div class="col">
        <img src="{{asset('img/logo.png')}}" alt="logo" class="logo">
        <h4>Contact</h4>
        <p><strong>Adreses:</strong> 17 Avenu du MAréchal de lattre, Villecresnes</p>
        <p><strong>Phone:</strong> +01 2222 365 /(+33) 01 2345 6789</p>
        <p><strong>Heur:</strong> 10h00 - 18h00, du lundi au samedi</p>

    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">A Propos</a>
        <a href="#">information de livraison</a>
        <a href="#">Politique de confidentialité</a>
        <a href="#">termes et conditions</a>
        <a href="{{path('app_contact')}}">Contactez-Nous</a>
    </div>

    <div class="col">
        
        <h4>Mon Compte</h4>
        <a href="#">S'identifier</a>
        <a href="#">Voir le panier</a>
        <a href="#">Ma liste d'envies</a>
        <a href="#">Suivre ma commande</a>
        
    </div>

   


</footer>