{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <section id="page-header" class="blog-header" style="background-image: url('img/banner/b19.jpg');">
        <h2 >#En savoir plus</h2>
        <p>Lisez toutes les études de cas sur notre produit !</p>
    </section>

    <section id="blog">
        <div class="bog-box">
            <div class="bog-img">
                <img src="img/blog/b1.jpg" alt="image">
            </div>
            <div class="bog-details">
                <h4>Le jersey de coton Zip-Up Moodier</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dolor repellat repudiandae 
                   dicta, quo officia quis suscipit perspiciatis placeat.</p>
                <a href="#">Poursuivre la lecture</a>

            </div>
            <h1>13/01</h1>
        </div>

        <div class="bog-box">
            <div class="bog-img">
                <img src="img/blog/b2.jpg" alt="image">
            </div>
            <div class="bog-details">
                <h4>Comment styliser une banane</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dolor repellat repudiandae 
                   dicta, quo officia quis suscipit perspiciatis placeat.</p>
                <a href="#">POURSUIVRE LA LECTURE</a>

            </div>
            <h1>13/01</h1>
        </div>

        <div class="bog-box">
            <div class="bog-img">
                <img src="img/blog/b3.jpg" alt="image">
            </div>
            <div class="bog-details">
                <h4>Articles indispensables pour les skateuses</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dolor repellat repudiandae 
                   dicta, quo officia quis suscipit perspiciatis placeat.</p>
                <a href="#">POURSUIVRE LA LECTURE</a>

            </div>
            <h1>13/01</h1>
        </div>

        <div class="bog-box">
            <div class="bog-img">
                <img src="img/blog/b4.jpg" alt="image">
            </div>
            <div class="bog-details">
                <h4>Tendances inspirées des défilés</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dolor repellat repudiandae 
                   dicta, quo officia quis suscipit perspiciatis placeat.</p>
                <a href="#">POURSUIVRE LA LECTURE</a>

            </div>
            <h1>13/01</h1>
        </div>
        <div class="bog-box">
            <div class="bog-img">
                <img src="img/blog/b6.jpg" alt="image">
            </div>
            <div class="bog-details">
                <h4>Tendances mode homme Aw20</h4>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus dolor repellat repudiandae 
                   dicta, quo officia quis suscipit perspiciatis placeat.</p>
                <a href="#">POURSUIVRE LA LECTURE</a>

            </div>
            <h1>13/01</h1>
        </div>

    </section>





{% endblock %}
